body { background-color: #f7fafc; font-family: Lantinghei;}
.container { position: relative; width: 1024px; height: 768px; margin: 0 auto; background-color:#f7fafc; font-family: Lantinghei;}
/* public */
.input1 { width: 266px; height: 40px; padding:0 20px; background-color: #f9fcff; border-radius: 20px; border: solid 1px #ace3f5; font-size: 15px; line-height: 40px; font-family: Lantinghei;}
.input1:focus { box-shadow: 0px 5px 10px 0px rgba(0, 173, 228, 0.15); border: solid 1px #39c1ee; }
.input1::placeholder { opacity: .5; }
/* login */
.login h3 img { display: block; width: 356.5px; height: 132.5px; margin: 90px auto 0;}
.login .content { width: 500px; height: 300px; margin: 37px auto 0; padding-top: 50px; /* padding: 50px 74px 58px 81px; */ background-color: #ffffff; box-shadow: 0px 5px 10px 0px rgba(0, 173, 228, 0.15); border-radius: 10px; border: solid 1px #ffffff;}
.login .content div { display: block; margin-bottom: 33px; text-align: center; }
.login .content>div:not(.login-content) { display: none;}
.login .content i { display: inline-block; width: 30px; height: 30px; margin-right: 7px; text-align: center; }
.login .footer { position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; color: #4bc2e3; font-size: 16px;}
.login .footer li { margin:15px 0;}
/* login icon */
.login .content i img { width: 100%; vertical-align: top;}
.login .content .email i img{ width: 28px; height: 24px;}
.login .content .pwd i { vertical-align: 3px;}
.login .content .pwd i img{ width: 24px; height: 28px; }
.login .content .first-login i img{ width: 21.5px; height: 21.5px; }
.login .content .change-pwd i { vertical-align:5px;}
.login .content .change-pwd i img{ width: 21px; height: 25.5px; }
.login .content .forget-pwd { margin-left: 18px;}
.login .content .forget-pwd i { vertical-align:3px; }
.login .content .forget-pwd i img{ width: 25.5px; height: 25.5px; }
/* login icon end */
.login .content .function-cont { margin: 70px 0 0; padding: 0 36px 0 47px; text-align: right;}
.login .content .function-cont div { display: inline-block; cursor: pointer; }
.login .content .function-cont .first-login { float: left; margin-top: 3px; color: #ffdb9a; font-size: 15px; font-weight: bold;}
.login .content .function-cont .change-pwd, .login .content .function-cont .forget-pwd{ color: #4bc2e3; font-size: 14.34px; font-weight: bold; }
.login .content .btn-cont {text-align: right; padding-right: 78px;}
.login .content .btn-cont input {  border-radius: 20px; height: 41px; color: #FFF;  font-size: 18px; line-height: 41px; cursor: pointer;}
.login .content .login-btn {width: 194px;  background-color: rgba(18, 119, 190, 0.9);box-shadow: 0px 5px 10px 0px rgba(28, 174, 226, 0.15); border: solid 0px rgba(11, 90); }
.login .content .registr-btn { width: 93px; height: 41px; margin-left: 18px; background-color: rgba(170, 170, 170, 0.9); box-shadow: 0px 5px 10px 0px rgba(28, 174, 226, 0.15); border: solid 0px rgba(160, 160, 160, 0.9); }

/* index */
.index { position: relative; background: url('../img/bg.png') no-repeat 0 0 / cover;}
.index .nav>a { display: block; width: 270px; height: 82.5px; background: #d4edf8; font-weight: bold; border: 1px solid #c6e7f6; border-radius: 10px; text-align: center; line-height: 82.5px; font-size: 30px; color: #0073bb; cursor: pointer;}
.index .nav a:nth-child(1) { position: absolute; top: 60px; right:60px;}
.index .nav a:nth-child(2) { position: absolute; bottom: 60px; left:60px;}