body { background-color: #eee; font-family: Lantinghei;}
.container { position: relative; width: 1024px; height: 768px; margin: 0 auto; background-color:#f7fafc; font-family: Lantinghei;}
/* public */
.input1 { height: 40px; padding:0 20px; background-color: #f9fcff; border-radius: 20px; border: solid 1px #ace3f5; font-size: 15px; line-height: 40px; font-family: Lantinghei;}
.inputWidth310 { width: 260px;}
.inputWidth266 { width: 266px;}
.inputWidth100 { width: 75px;}
.inputWidth150 { width: 100px;}
.input1:focus { box-shadow: 0px 5px 10px 0px rgba(0, 173, 228, 0.15); border: solid 1px #39c1ee; }
.input1::placeholder { opacity: .5; }
/* login */
.login h3 img { display: block; width: 356.5px; height: 132.5px; margin: 90px auto 0;}
.login .content { width: 500px; height: 350px; margin: 37px auto 0;  background-color: #ffffff; box-shadow: 0px 5px 10px 0px rgba(0, 173, 228, 0.15); border-radius: 10px; border: solid 1px #ffffff;}
.login .content div { position: relative; display: block; margin-bottom: 33px; text-align: center; }
.login .content .login-content { padding-top: 50px;}
.login .content>div:not(.login-content) { display: none;}
.login .content i { display: inline-block; width: 30px; height: 30px; margin-right: 7px; text-align: center; }
.login .footer { position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; color: #4bc2e3; font-size: 16px;}
.login .footer li { margin:15px 0;}
/* register */
.login .content .register-conent { padding-top: 30px}
.login .content .register-conent>div { margin: 15px 0;}
.login .c-code .check-code { position: absolute; top: 1px; right: 82px; width: 90px; height: 100%; border-top-right-radius: 18px; border-bottom-right-radius: 18px; }
.login .c-code .check-code img { width: 100%; height: 96%; border-top-right-radius: 18px; border-bottom-right-radius: 18px; }
.login .v-code .get-code { position: absolute; top: 0; right: 80px; width: 90px; height: 98%; background-color: #4cc2e3; color: #FFF; font-size: 15px; font-family: Lantinghei; border-top-right-radius: 20px; border-bottom-right-radius: 20px; border:none; cursor: pointer; letter-spacing: 1px; }
/* login icon */
.login .content i img { width: 100%; vertical-align: top;}
.login .content .email i img{ width: 28px; height: 24px;}
.login .content .pwd i { vertical-align: 3px;}
.login .content .pwd i img{ width: 24px; height: 28px; }
.login .content .first-login i img{ width: 21.5px; height: 21.5px; }
.login .content .change-pwd i { vertical-align:5px;}
.login .content .change-pwd i img{ width: 21px; height: 25.5px; }
.login .content .forget-pwd { margin-left: 18px;}
.login .content .forget-pwd i { vertical-align:3px; }
.login .content .forget-pwd i img{ width: 25.5px; height: 25.5px; }
/* login icon end */
/* register icon */
.login .content .user-info { display: block;}
.login .content .user-info label { display: inline-block;}
.login .content .user-name i { vertical-align: 3px; }
.login .content .user-name i img{ width: 24.5px; height: 26.5px; }
.login .content .user-phone i { vertical-align: 3px; }
.login .content .user-phone i img{ width: 20.5px; height: 29px; }
.login .content .v-code i { vertical-align: 5px; }
.login .content .v-code i img{ width: 26.5px; height: 31px; }
/* register icon end */
.login .content .function-cont { margin: 70px 0 0; padding: 0 36px 0 47px; text-align: right;}
.login .content .function-cont div { display: inline-block; cursor: pointer; }
.login .content .function-cont .first-login { float: left; margin-top: 3px; color: #ffdb9a; font-size: 15px; font-weight: bold;}
.login .content .function-cont .change-pwd, .login .content .function-cont .forget-pwd{ color: #4bc2e3; font-size: 14.34px; font-weight: bold; }
.login .content .btn-cont {text-align: right; padding-right: 78px;}
.login .content .btn-cont input {  border-radius: 20px; height: 41px; color: #FFF;  font-size: 18px; line-height: 41px; cursor: pointer;}
.login .content .login-btn {width: 194px;  background-color: rgba(18, 119, 190, 0.9);box-shadow: 0px 5px 10px 0px rgba(28, 174, 226, 0.15); border: solid 0px rgba(11, 90); }
.login .content .registr-btn { width: 93px; height: 41px; margin-left: 18px; background-color: rgba(170, 170, 170, 0.9); box-shadow: 0px 5px 10px 0px rgba(28, 174, 226, 0.15); border: solid 0px rgba(160, 160, 160, 0.9); }

/* index */
.index { position: relative; background: url('../img/bg.png') no-repeat 0 0 / cover;}
.index .nav>a { display: block; width: 270px; height: 82.5px; background: #d4edf8; font-weight: bold; border: 1px solid #c6e7f6; border-radius: 10px; text-align: center; line-height: 82.5px; font-size: 30px; color: #0073bb; cursor: pointer;}
.index .nav a:nth-child(1) { position: absolute; top: 60px; right:60px;}
.index .nav a:nth-child(2) { position: absolute; bottom: 60px; left:60px;}

.icon { display: inline-block; background-color: #000; }
.i-msg {  }
.i-cup {  }
.i-star {  }
.i-badge {  }
.i-return {  }
.i-phone {  }
.i-manual {  }
.i-cloud {  }
.i-confirm {  }
.i-mouse {  }
.i-cloud-up {  }
.i-notepad {  }
.i-leaf {  }
.i-note-board {  }


.side-bar { position: relative; float: left; width: 174px; height: 768px; padding-right: 14px; }
.side-bar:after { content: ''; position: absolute; top: 0; right: 0; width: 14px; height: 100%; background-image: linear-gradient(-90deg, rgba(61, 143, 202, 0.1) 0%, #3d8fca 100%); opacity: 0.1; }

.logo { width: 174px; height: 73px; background-color: #f2f9ff; }

.my-message { position: relative; padding: 26px 0; text-align: center; color: #1277be; font-size: 15px; }
.my-message .icon { width: 20px; height: 20px; vertical-align: middle; margin-right: 15px; }
.my-message .item-name { display: inline-block; vertical-align: middle; }
.my-message .item-value { position: absolute; top: 18px; right: 12px;  width: 30px; height: 20px; background-color: #ffc14a; box-shadow: 0px 6px 20px 0px rgba(0, 173, 228, 0.15); border-radius: 20px; text-align: center; color: #FFF; }

.side-menu { height: 456px; padding-left: 35px; border-top: 1px solid #E0f0ff; }
.side-menu li { padding: 27px 0; }
.side-menu li .icon { float: left; width: 35px; height: 30px; }
.side-menu li .item { margin-left: 40px; }
.side-menu li .item .item-name { font-size: 12px; color: #78859a; }
.side-menu li .item .item-value { font-size: 15px; color: #ffc14a; }

.link-to-index { padding: 19px 0; border-bottom: 1px solid #E0f0ff; text-align: center; }
.link-to-index .icon { width: 34px; height: 21px; margin-right: 12px; vertical-align: middle; }
.link-to-index .item-name { display: inline-block; height: 21px; vertical-align: middle; color: #47d6ff; }

.help { padding: 10px 0 0 15px; font-size: 12px; color: #b6bfce; }
.help li { padding: 5px 0; }
.help .icon { margin-right: 6px; }
.help .i-phone { width: 16px; height: 12px; }
.help .i-manual { width: 16px; height: 14px; }
.help .i-cloud { width: 16px; height: 11px; }

.main { height: 768px; margin-left: 174px; }
.top-bar { width: 100%; }
.top-bar:after { display: block; content: ''; width: 850px; height: 7px; background-image: linear-gradient(180deg,  rgba(45, 142, 172, 0.1) 0%,  rgba(255, 255, 255, 0.1) 100%); }

.top-menu { width: 100%; height: 73px; }
.top-menu li { display: inline-block; width: 135px; padding: 25px 0 20px; text-align: center; font-size: 15px; }
.top-menu li:after { content: ''; float: right; width: 2px; height: 8px; margin-top: 9px; background-color: #b8c1ce; }
.top-menu li a { color: #b6bfce; }
.top-menu li.active { border-bottom: 4px solid #ffc14a; }
.top-menu li .icon { width: 26px; height: 26px; margin-right: 10px; vertical-align: middle; }
.top-menu li .menu-text { display: inline-block; vertical-align: middle; }

/* conference-list */