.conference{
    .nav{
        float: left;
        width: 172px;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 5px 0px 10px 0px rgba(0, 173, 228, 0.15);
        z-index: 2;
        .logo{
            height: 73px;
            background: url('../img/logo.jpg') no-repeat 0 0;
            background-size: 100% 100%;
        }
        .message{
            display: block;
            position: relative;
            height: 73px;
            padding-left: 20px;
            border-bottom: 1px solid #e0f0ff;
            line-height: 73px;
            text-align: center;
            font-size: 15px;
            color: #1277be;
            font-weight: 500;
            i{
                display: inline-block;
                margin-left: 2px;
                margin-right: 10px;
                font-size: 35px;
                vertical-align: -8px;
            }
            b{
                position: relative;
                top: -10px;
                display: inline-block;
                width: 30px;
                height: 20px;
                color: #FFF;
                line-height: 21px;
                text-align: center;
                background-color: #fd7423;
                border-radius: 10px;
                font-size: 12px;
            }
        }
        .nav-middle{
            position: relative;
            height: 394.5px;
            border-bottom: 1px solid #e0f0ff;
            ul{
                margin-top: 28.5px;
                font-size: 15px;
                li{
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 10px;
                    div{
                        color: #1277be;
                        i{
                            position: relative;
                            display: inline-block;
                            width: 25.5px;
                            height: 26.5px;
                            margin-right: 10px;
                            font-size: 25px;
                        }
                        .icon-xingxing{
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 12px;
                        }
                    }
                    p{
                        padding-left: 35px;
                        color: #fd7423;
                        font-size: 16px;
                        // font-weight: bold;
                    }
                }
            }
            .behalf-info{
                li{
                    div{
                        i{
                            vertical-align: -4px;
                        }
                    }
                }
            }
            .back-index{
                position: absolute;
                bottom: 14px;
                display: block;
                width: 100%;
                text-align: center;
                color: #1277be;
                font-size: 15px;
                img{
                    width: 34px;
                    height: 21px;
                    margin-right: 12px;
                    vertical-align: top;
                }
            }
        }
        .nav-bottom{
            border-bottom: 1px solid #e0f0ff;
            padding-top: 13.5px;
            height: 131.5px;
            ul{
                li{
                    a{
                        display: block;
                        padding-left: 38px;
                        font-size: 12px;
                        color: #9fa0a0;
                        margin-bottom: 10px;
                        i{
                            display: inline-block;
                            width: 16px;
                            height: 14px;
                            margin-right: 12.5px;
                            background: url('../img/icon/icon-nav-bottom.png') no-repeat 0 0;
                            background-size: cover;
                            vertical-align: -2px;
                        }
                        span{
                            display: block;
                            margin-top: -8px;
                            padding-left: 28px;
                        }
                        &:hover{
                            color: #1277be;
                            font-weight: 500;
                        }
                    }
                    &:nth-child(1){
                        i{ vertical-align: -12px;}
                    }
                    &:nth-child(2){
                        i{ background-position-y: -17px;}
                    }
                    &:nth-child(3){
                        i{ background-position-y: -36px;}
                    }
                    &:nth-child(4){
                        i{ background-position-y: -54px;}
                    }
                }
            }
        }
        .copyright2{
            img{
                width: 100%;
                margin-top: 8px;
                vertical-align: top;
            }
        }
    }
    .conference-content{
        position: relative;
        float: left;
        .bread-crumb-nav{
            height:73px;
            padding: 0 17px;
            margin-left: 5px;
            line-height: 73px;
            background-color: #FFF;
            box-shadow: 2px 2px 15px 0px rgba(0, 173, 228, .2);
            li{
                float: left;
                width: 135px;
                height: 100%;
                a{
                    position: relative;
                    display: block;
                    text-align: center;
                    font-size: 15px;
                    color: #9fa0a0;
                    font-weight: 400;
                    &::after{
                        float: right;
                        content: "";
                        width: 2px;
                        height: 8px;
                        margin-top: 32px;
                        background-color: #b8c1ce;
                    }
                    i{
                        display: inline-block;
                        width: 26px;
                        height: 28px;
                        margin-right: 10px;

                        vertical-align: -7px;
                    }
                }
                .active{
                    color: #1277be;
                    font-weight: 500;
                    height: 96%;
                    border-bottom: 3px solid #1277be;
                }

            }
        }
        .list-content{
            position: relative;
            width: 810px;
            height: 650px;
            margin: 20px 0 0 15px;
            padding: 0 10px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px 0px rgba(0, 173, 228, 0.15);
            border-radius: 10px;
            .title{
                height: 51.5px;
                line-height: 51.5px;
                border-bottom: 1px solid #e0f0ff;
                >a{
                    display: inline-block;
                    min-width: 90px;
                    margin: 0 10px;
                    text-align: center;
                    color: #b8c1ce;
                    font-weight: 500;
                    border-bottom: 1px solid transparent;
                    i{ margin-right: 5px; }
                }
                >.active{
                    color: #1277be;
                    border-bottom: 1px solid #1277be;
                }
            }
            .meeting-content{
                margin-top: 25px;
                height: 565px;
                // overflow: auto;
                li{
                    float: left;
                    width: 325px;
                    // min-height: 321px;
                    margin: 0 10px 25px;
                    padding: 10px;
                    background-color: #ffffff;
                    box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
                    border-radius: 10px;
                    img{
                        width: 100%;
                        height: 180px;
                        vertical-align: top;
                    }
                    .state{
                        width: 100%;
                        height: 30px;
                        background-color: #b8c1ce;
                        line-height: 30px;
                        text-align: center;
                        color: #FFF;
                        font-size: 12px;
                        margin-bottom: 7px;
                        i{
                            display: inline-block;
                            width: 19.5px;
                            height: 18px;
                            margin-right: 5px;
                            background: url('../img/icon/icon-meekting-state.png') no-repeat 0 0;
                            background-size: cover;
                            vertical-align: middle;
                        }
                    }
                    .info{
                        padding-left: 10px;
                        p{
                            font-size: 12px;
                            color: #78859a;
                            span{
                                display: inline-block;
                                margin-right: 5px;
                                font-weight: 500;
                                text-align: justify;
                            }
                            label{
                                margin-left: 5px;
                            }
                            b{
                                display: inline-block;
                                width: 36px;
                            }
                        }
                    }
                    .btn-content{
                        margin-top: 8.5px;
                        text-align: right;
                        div{
                            display: inline-block;
                            width: 65px;
                            height: 25px;
                            color: #FFF;
                            font-size: 12px;
                            border-radius: 17px;
                            text-align: center;
                            line-height: 25px;
                            i{ margin-right: 5px;}
                            cursor: pointer;
                        }
                        .alter{
                            background-color: #4596d5;
                            box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
                        }
                        .del{
                            margin-left: 15px;
                            background-color: #45cbe4;
                            box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
                        }
                        .grab{
                            background-color: #fd7423;
                            box-shadow: 0px 6px 20px 0px rgba(0, 173, 228, 0.15);
                        }
                    }
                }
                .active {
                    .state{
                        background-color: #1277be;
                        box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
                        i{ background-position-y: -20px;}
                    }
                }
            }
            .scroll-box{
                width: 100%;
                height: 590px;
                box-shadow: initial;
                background-color: transparent;
                .scroll-content{
                    width: 105%;
                    height: 100%;
                }
            }
        }
    }

}
