.conference-list{
    .behalf-info{
        li{
            div{
                i{
                    background: url('../img/icon/icon-brand-left.png') no-repeat 0 0 ;
                    background-size: cover;
                }
            }
            &:nth-child(1){
                i{
                    background-position-y: -25px;
                }
            }
            &:nth-child(2){
                i{
                    background-position-y: -58px;
                }
            }
            &:nth-child(3){
                i{
                    background-position-y: -87px;
                }
            }
        }
    }
    .conference-content{
        .bread-crumb-nav{
            li{
                a{
                    i{
                        background: url('../img/icon/icon-bar.png') no-repeat 0 0;
                        background-size: cover;
                    }
                }
                .active{
                    i{
                        background: url('../img/icon/icon-bar-active.png') no-repeat 0 0;
                        background-size: cover;
                    }
                }
                &:nth-child(1){
                    i{
                        background-position-y:2px;
                    }
                }
                &:nth-child(2){
                    i{
                        background-position-y:-31px; 
                    }
                }
                &:nth-child(3){
                    i{
                        background-position-y: -61px;
                    }
                }
                &:nth-child(4){
                    i{
                        background-position-y: -93px;
                    }
                }
                &:nth-child(5){
                    i{
                        background-position-y: -122px;
                    }
                }
                &:nth-child(6){
                    i{
                        background-position-y: -153px;
                    }
                }
            }
        }
    }
}