body { background-color: #FFF; font-family: Lantinghei; }
input:focus::placeholder { transition: all .4s ease; transform: translateX(80%); opacity: 0;}
input::placeholder { color: rgba(40, 40, 40, 0.5); font-size: 15px; font-family: Lantinghei; }
button { font-family: Lantinghei; cursor: pointer;}
select::-ms-expand { display: none; }
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* only needed once */
body { margin-right:-14px!important; overflow-y:scroll; overflow-x:hidden;}
/*Chrome下隐藏滚动条，溢出可以透明滚动*/
html::-webkit-scrollbar{width:0px}
select{
    width: 139px;
    height: 30px;
    border: solid 1px #45cbe4;
    border-radius: 15px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding:0 10px;
}
//General
@mixin popButton ($marginTop){
    display: inline-block;
    width: 65px;
    height: 25px;
    margin-top: $marginTop;
    background-color: #47d6ff;
    color: #FFF;
    box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
    border-radius: 17px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
}
@mixin inputCont ($box-width){
    width: $box-width;
    height: 40px;
    box-shadow: 0px 5px 10px 0px rgba(28, 174, 226, 0.15);
	border-radius: 20px;
    border: solid 1px #1277be;
    box-sizing: border-box;
    background-color: rgba(243, 249, 255, 0.9);
}
@mixin inputCont2 (){
    height: 30px;
    border: solid 1px #45cbe4;
    border-radius: 15px;
}
@mixin inputStyle {
    width: 65%;
    height: 100%;
    font-size: 15px;
    color: #282828;
}
.my-message{
    .title{
        color: #1277be;
        font-size: 15px;
        font-weight: bold;
    }
}
.icon-arrow{
    background: url('../img/icon/icon-arrow.png') no-repeat;
    background-position: 95% 50%;
    background-size: 17px 13.5px;
}
.container {
    position: relative;
    width: 1024px;
    height:768px;
    margin: 0 auto;
    .shut-down{
        float: right;
        width: 65px;
        height: 25px;
        margin-bottom: 15px;
        background-color: #b8c1ce;
        box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
        border-radius: 15px;
        text-align: center;
        line-height: 25px;
        color: #FFF;
        font-size: 12px;
        cursor: pointer;
        i{
            margin-right: 5px;
        }
    }
    .options{
        color: #9fa0a0;
        font-size: 14px;
        div,label{ 
            position: relative;
            input{
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                margin: 0;
                &:checked+i{
                    background:url('../img/icon/icon-check.png') no-repeat center center;
                    background-size: 13.5px 9px;
                }
            }
            i{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 14px;
                background: none;
                border-radius: 1px;
                border: solid 1px #b6bfce;
                vertical-align: -5px;
                box-sizing: border-box;
            }
            span{
                cursor: pointer;
                &:hover{
                    color: #1277be;
                }
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 0;
        width: 100%;
        color:#1277be;
        text-align: center;
        font-size: 10px;
        li{
            margin-bottom: 5px;
        }
        .icon-hotline{
            width: 12px;
            height: 12px;
        }
        .icon-copyright{
            width: 14px;
            height: 17px;
            vertical-align: middle;
        }
    }
    .letter-spacing3{
        letter-spacing: 1px;
    }
    .letter-spacing2{
        letter-spacing: 2px;
    }
}
.cover{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    z-index: 998;
}
.pop{
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 450px;
	height: 337px;
	background-color: #1277be;
	box-shadow: 0px 5px 10px 0px rgba(0, 173, 228, 0.15);
	border-radius: 10px;
    border: solid 1px #006ab4;
    z-index: 999;
    text-align: center;
    .pop-btn{
        @include popButton(10px);
    }
    img{
        width: 100%;
        margin-top: 15px;
        vertical-align: top;
    }
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: #b8c1ce;
    box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
    border-radius: 12px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
}
.report-pop{
    display: none;
    width: 620px;
    height: 450px;
    border:none;
	background-color: #ffffff;
	box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
    border-radius: 10px;
    .shut-down{
        margin: 10px 10px 0 0; 
    }
    ul{
        margin-top: 45px;
        li{
            padding-left: 75px;
            text-align:left;
            color: #1277be;
            font-weight: 500;
            margin-bottom: 19px;
            &:nth-child(1) input{
                width: 180px;
                @include inputCont2;
            }
            &:nth-child(2) select{
                width: 390px;
            }
        }
    }
    .download-upload{
        margin-top: -10px;
        padding-right: 30px;
        a{
            display: inline-block;
        }
        div{
            position: relative;
            display: inline-block;
            input{
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
            }
        }
        img{ width: 275px; height: 290px; vertical-align: top;}
    }
}
.brand-icon1{
    li{
        div{
            i{
                width: 30px;
                height: 26px;
                background: url('../img/icon/icon-brand-left2.png') no-repeat 0 0 ;
                background-size: cover;
            }
        }
        &:nth-child(1){
            i{
                background-position-y: 0;
            }
        }
        &:nth-child(2){
            i{
                background-position-y: -24px;
            }
        }
        &:nth-child(3){
            i{
                background-position-y: -48px;
            }
        }
        &:nth-child(4){
            i{
                background-position-y: -77px;
            }
        }
    }
}
.conference-content{
    .brand-icon2{
        li{
            a{
                i{
                    background: url('../img/icon/icon-bar2.png') no-repeat 0 0;
                    background-size: cover;
                }
            }
            .active{
                i{
                    background: url('../img/icon/icon-bar-active2.png') no-repeat 0 0;
                    background-size: cover;
                }
            }
            &:nth-child(1){
                i{
                    background-position-y:2px;
                }
            }
            &:nth-child(2){
                i{
                    background-position-y:-26px; 
                }
            }
            &:nth-child(3){
                i{
                    background-position-y: -56px;
                }
            }
            &:nth-child(4){
                i{
                    background-position-y: -83px;
                }
            }
        }
    }
}
.preview-content{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    padding: 20px;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 173, 228, 0.15);
    border-radius: 10px;
    z-index: 999;
    .preview-top{
        dt{
            float: left;
            width: 239px;
            height: 176px;
            img{
                width: 100%;
                vertical-align: top;
            }
        }
        dd{
            display: block;
            margin-left: 255px;
            h3{
                color: #006ab4;
                font-size: 18px;
                font-weight: bold;
                text-indent: 10px;
            }
            li{
                padding-left: 10px;
                margin-bottom: 5px;
                border-left: 1px solid #919191;
                span{
                    color: #394e5f;
                    font-size: 12px;
                }
                p{
                    font-size: 14px;
                    color: #1893e7;
                }
            }
        }
    }
    .venue{
        h3{
            padding: 7px 0;
            border-bottom: 1px solid #c8c8c8;
            text-indent: 10px;
            font-size: 15px;
            color: #006ab4;
            font-weight: bold;
        }
        ul{
            padding: 0 5px;
            li{
                padding: 10px 5px;
                border-bottom: 1px dashed #e6ebee;
                font-size: 15px;
                font-weight: 500;
                span{
                    color: #1893e7;
                    b{
                        display: inline-block;
                        width: 30px;
                    }
                }
                label,a{
                    color: #808080;
                }
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}
.datetimepicker{
    .day.active,.today{
        border-radius: 50% !important;
    }
    th.dow{
        color: #59c6e8;
    }
     th.switch{
        color: #1277be;
    }
}
.select-content{
    position: relative;
    input:focus +.scroll-box{
        display: block;
    }
    .scroll-box{
        display: none;
        position: absolute;
        left: 0;
        top: 20px;
        width: 170px;
    }
}
html::-webkit-scrollbar { width: 0; display: none;}
.scroll-box {
    user-select: none;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #ffffff;
	box-shadow: 0px 5px 10px 0px rgba(0, 173, 228, 0.15);
	border-radius: 10px;
    border: solid 1px #ffffff;
    z-index: 999;
}
.scroll-content {
    width: 220px;
    height: 200px;
    overflow: auto;
}
.scroll-content .content{
    margin: 0;
    padding: 5px 41px 5px 5px;
}
.scroll-bar{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5px;
    height: 95%;
    background: #e4f6fb;
    border-radius: 6px;
}
.bar {
    position: absolute;
    right: -10px;
    bottom: -22px;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 20px;
	border: solid 2px rgba(74, 206, 183, 0.15);
}
.active-bar{
    position: absolute;
    top:0;
    right: 0;
    width: 5px;
    height: 0;
    background: #1277be;
}
